.x{
    background-color: transparent;
    width: 100%;
    height: auto;
    margin-top: 400px;
    margin-left: 30px;
    position: relative;
    width: 300px;
    margin-top: 2%;
}
.ımage{
    width:17px;
    height: 17px;
}
  