.title{
    margin-top: 30px;
    justify-content: center;
    text-align: center;
}
.container{
    border: unset !important;
    width: auto;
    height: 100%;
    text-align: center;
    justify-content: center;
    margin-top: 50px;
    display: flex;
    align-items: flex-start;
    flex-wrap: wrap;

}
